* {
  margin: 0;
  padding: 0; }

body {
  background-image: url(https://media.istockphoto.com/vectors/carbon-kevlar-red-vector-id480542744?k=6&m=480542744&s=170667a&w=0&h=0sctkTNAiLdYhEncSpdEobrLwPXo_ut4fBF1iDfBxcc=);
  background-size: cover; }

h1 {
  color: whitesmoke;
  background-color: black;
  display: flex;
  justify-content: center; }

h3 {
  color: whitesmoke;
  margin: 10px; }

.grid {
  background-color: orangered;
  width: 80%;
  padding: 10 px;
  border: 5px solid black;
  display: grid;
  grid-template-columns: auto; }
  .grid .caja:hover {
    text-align: auto;
    background-color: darkred; }
    .grid .caja:hover form {
      background-color: orange; }
  .grid img {
    justify-self: auto;
    max-width: 80%;
    max-height: 80%; }

p {
  color: whitesmoke; }

legend {
  color: whitesmoke; }

label {
  color: whitesmoke; }

h6 {
  text-align: center;
  color: whitesmoke; }
