.boton {
  background-color: darkblue; }

.boton {
  border: 3px solid whitesmoke;
  border-radius: 4px;
  padding: 20px; }

.formulario {
  background-color: darkorange;
  transform: scale(90%); }

h4 {
  transform: scale(60%); }

* {
  margin: 0;
  padding: 0; }

body {
  background-image: url(https://media.istockphoto.com/vectors/carbon-kevlar-red-vector-id480542744?k=6&m=480542744&s=170667a&w=0&h=0sctkTNAiLdYhEncSpdEobrLwPXo_ut4fBF1iDfBxcc=);
  background-size: cover; }

h1 {
  color: whitesmoke;
  background-color: black;
  display: flex;
  justify-content: center; }

h3 {
  color: whitesmoke;
  margin: 10px;
  text-align: center; }

.grid {
  display: grid;
  background-color: orangered;
  width: 80%;
  margin-left: 10%;
  padding: 10 px;
  border: 5px solid black;
  display: grid; }
  .grid .caja:hover {
    text-align: auto;
    background-color: darkred; }
  .grid img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    max-width: 80%;
    max-height: 80%; }

.boton {
  display: grid;
  grid-template-columns: auto;
  width: 15%;
  margin-left: 40%; }

iframe {
  display: flex;
  align-self: center;
  justify-content: center; }

p {
  color: whitesmoke;
  display: grid;
  align-self: center;
  justify-content: center; }

.alineado {
  display: grid;
  align-self: center;
  justify-content: center; }

legend {
  color: whitesmoke; }

label {
  color: whitesmoke; }

h4 {
  text-align: center;
  color: whitesmoke; }
